<h1 id="tableLabel">Lista de Livros</h1>

<p>Aqui você pode criar, editar e deletar os livros à vontade!</p>

<p *ngIf="!books"><em>Loading...</em></p>

<custom-alert *ngIf="alerts" [alerts]="alerts" (onRemoveAlert)="removeAlert($event)"></custom-alert>

<table class="table table-striped" *ngIf="books">
  <thead class="thead-dark">
    <tr>
      <th>
        Titulo
      </th>
      <th>
        Edição
      </th>
      <th>
        Preço
      </th>
      <th>
        Editora
      </th>
      <th>
        Ano
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td class="align-middle">
        {{book.title | titlecase}}
      </td>
      <td class="align-middle">
        {{book.edition}}
      </td>
      <td class="align-middle">
        {{book.price | currency:'BRL':'symbol':'1.2-2':'pt'}}
      </td>
      <td class="align-middle">
        {{book.publishingCompany | titlecase}}
      </td>
      <td class="align-middle">
        {{book.publicationYear}}
      </td>
      <td class="text-right" style="width: 100px;">
        <update-book [book]="book" (onUpdateEvent)="refresh()" (onAlertEvent)="addAlert($event)"></update-book>
      </td>
      <td class="text-right" style="width: 100px;">
        <delete-book [book]="book" (onDeleteEvent)="refresh()" (onAlertEvent)="addAlert($event)"></delete-book>
      </td>
    </tr>
  </tbody>
</table>

<add-book (onAddEvent)="refresh()" (onAlertEvent)="addAlert($event)"></add-book>
