<h1 id="tableLabel">Lista de Autores</h1>

<p>Aqui você pode criar, editar e deletar os autores à vontade!</p>

<p *ngIf="!authors"><em>Loading...</em></p>

<custom-alert *ngIf="alerts" [alerts]="alerts" (onRemoveAlert)="removeAlert($event)"></custom-alert>

<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="authors">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authors">
      <td>{{author.name | titlecase}}</td>
      <td class="text-right" style="width: 100px;">
        <update-author [authorCod]="author.authorCod" [authorName]="author.name" (onUpdateEvent)="refresh()" (onAlertEvent)="addAlert($event)"></update-author>
      </td>
      <td class="text-right" style="width: 100px;">
        <delete-author [authorCod]="author.authorCod" [authorName]="author.name" (onDeleteEvent)="refresh()" (onAlertEvent)="addAlert($event)"></delete-author>
      </td>
    </tr>
  </tbody>
</table>

<add-author (onAddEvent)="refresh()" (onAlertEvent)="addAlert($event)"></add-author>
