<h1 id="tableLabel">Lista de Assuntos</h1>

<p>Aqui você pode criar, editar e deletar os assuntos à vontade!</p>

<p *ngIf="!subjectList"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="subjectList">
  <thead class="thead-dark">
    <tr>
      <th>Descrição</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sub of subjectList">
      <td>
        <p>{{sub.description}}</p>
      </td>
      <td class="text-right" style="width: 100px;">
        <a class="btn btn-primary" (click)="edit(sub.subjectCod)">Editar</a>
      </td>
      <td class="text-right" style="width: 100px;">
        <a class="btn btn-danger" (click)="delete(sub.subjectCod)">Deletar</a>
      </td>
    </tr>
  </tbody>
</table>

<add-subject></add-subject>
