<h4 class="text-center" style="margin-top: 30px;">Olá, Aqui você pode gerenciar tudo que precisa!</h4>
<br />

<div class="row">
  <div class="col-md-12 text-center">
    <div class="card">
      <div class="card-body">
        <div style="align-content: center;">
          <img src="./assets/livro.png" height="160" width="160" />
        </div>

        <div class="card-title">
          <h4>Livros</h4>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success">
          Dê uma Olhada
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col-md-6 text-center">
    <div class="card">
      <div class="card-body">
        <div style="align-content: center;">
          <img src="./assets/autor.png" height="160" width="160" />
        </div>

        <div class="card-title">
          <h4>Autores</h4>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success">
          Dê uma Olhada
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-6 text-center">
    <div class="card">
      <div class="card-body">
        <div style="align-content: center;">
          <img src="./assets/assunto.png" height="160" width="160" />
        </div>

        <div class="card-title">
          <h4>Assuntos</h4>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success">
          Dê uma Olhada
        </a>
      </div>
    </div>
  </div>
</div>
