<div class="container main-container">
    <h3>Interpolation</h3>
    <p [ngClass]="{
        'text-secundary': clickCount < 3,
        'text-success': clickCount >= 3,
        'text-warning': clickCount >= 5,
        'text-danger': clickCount >= 9
    }">Clicks: {{clickCount}}</p>

    <br>
    <br>

    <h3>Property Binding</h3>
    <button class="btn btn-info" [disabled]="clickCount >= 10">Info</button>
    
    <br>
    <br>

    <h3>Event Binding</h3>
    <button class="btn btn-warning" (click)="addClick()">Click</button>&nbsp;
    <button class="btn btn-danger" (click)="cleanClick()" [disabled]="clickCount < 10">Clean</button>

    <br>
    <br>

    <h3>Two-Way Binding</h3>

    <!-- <input type="text" (keyup)="keyUp($event)" placeholder="Digit your name">

    <br>
    <br>

    <label>Your name is {{name}}</label> -->

    <!-- <input type="text" [ngModel]="name" (ngModelChange)="name = $event" placeholder="Digit your name">

    <br>
    <br>

    <label>Your name is {{name}}</label> -->

    <input type="text" [(ngModel)]="name" placeholder="Digit your name">

    <br>
    <br>

    <label class="{{name}}">Your name is {{name}}</label>
</div>