<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h5>
        <i>
          <pre>Esta App foi feita como forma de desafio
          para testar algunas das minhas habilidades,
    espero que gostem. =)</pre>
        </i>
      </h5>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row" style="margin-top: 50px;">
    <div>
      <p class="text-center">
        Fiz alguns pequenos testes usando TDD, Optei por arquitetura DDD para por em ação as boas práticas de OOP, usei o SqlServer para persistir
        os dados mas poderia ter usado várias coisas legais como MongoDb e Redis para otimizar a performace. No front-end um pouco de Angular com Bootstrap.
      </p>
      <p class="text-center">
        <strong>OBS:</strong> Se você rodar a App na sua máquina, não esqueça de ajustar a connectionstring no arquivo de configurações!
      </p>
    </div>
  </div>
</div>
