<h3>about</h3>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th colspan="3" class="text-center">Livros e Assuntos por Autor</th>
    </tr>
    <tr>
      <th>Autores</th>
      <th class="text-center">Qntd. Livros</th>
      <th class="text-center">Qntd. Assuntos</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Victor</td>
      <td class="text-center">12</td>
      <td class="text-center">31</td>
    </tr>
    <tr>
      <td>Bruna</td>
      <td class="text-center">33</td>
      <td class="text-center">52</td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-6 p-2">
    <books-by-subject></books-by-subject>
  </div>

  <div class="col-sm-6 p-2">
    <authors-by-subject></authors-by-subject>
  </div>
</div>
