<div class="container main-container" style="margin-top: 20px;">
    <div class="row text-center">

        <div *ngFor="let product of productList" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100" style="padding-top: 10px;">
                <a class="text-decoration-none" [routerLink]="['/product-detail', product.id]">
                    <div style="align-content: center;">
                        <img src="/assets/{{product.image}}" height="164px" width="253px" alt="" />
                    </div>
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p>Por apenas:</p>
                    <h4>R$ {{product.price}}</h4>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary">
                        <span class="fa fa-shopping-card"></span>Comprar!
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>